<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.html')%>
</head>

<body>

    <%- include('partials/navigation.html') %>

    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img class="logo-git animate__animated animate__bounceIn" src="/img/github-logo.png" alt="logo" width=350>
            </div>
        </header>
    </div>

    <!-- Section one -->
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>The most suscribed Youtuber</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio minima id nulla corporis
                    quos voluptas explicabo dignissimos maxime similique?</p>
            </div>
        </div>
    </div>

    <%- include('partials/footer.html') %>
</body>

</html>